# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:lts
    steps:
      - checkout
      - run:
          name: Update npm
          command: 'sudo npm install -g npm@latest'
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: Install npm
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run:
          name: Test
          command: npm test

  deploy:
    docker:
      - image: circleci/node:lts
    steps:
      - checkout
      - run:
          name: Publish to NPM
          command: |
            npm version patch
            npm set //registry.npmjs.org/:_authToken=$NPM_TOKEN
            npm publish
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
#  publish:
#    jobs:
#      - build
#      - test:
#          requires:
#            - build
#          filters:
#            branches:
#              only: master
#      - deploy:
#          requires:
#            - test
#          filters:
#            branches:
#              only: master

